* {
  margin: 0;
  padding: 0;
}

body {
  background: url(./images/banner-initial.png) fixed;
  background: cover;
}

/* .complemento-img {
  display: none;
  cursor: pointer;
  transform: scale(.9);
} */
